<div class="add-task">
  <h2>Add Task ➕</h2>
  <form class="task-form">
    <div class="form-group">
      <label for="title">Title:</label>
      <input
        type="text"
        id="title"
        name="title"
        required
        [(ngModel)]="newTask.title"
      />
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea
        id="description"
        name="description"
        rows="4"
        required
        [(ngModel)]="newTask.description"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="due-date">Due Date:</label>
      <input
        type="date"
        id="due-date"
        name="due-date"
        required
        [(ngModel)]="newTask.dueDate"
      />
    </div>
    <div class="form-group">
      <label for="priority">Priority:</label>
      <select
        id="priority"
        name="priority"
        required
        [(ngModel)]="newTask.priority"
      >
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
    </div>
    <button
      type="submit"
      (click)="
        addTask(
          newTask.title,
          newTask.description,
          newTask.dueDate,
          newTask.priority
        )
      "
    >
      Add Task
    </button>
  </form>
</div>
