<div class="task-list">
  <h2>Task List</h2>
  <div *ngIf="tasks.length === 0; else elseBlock">No Task, Add Tasks 🚀</div>
  <ng-template #elseBlock>
    <ul class="task-items" *ngFor="let task of tasks">
      <li class="task-item">
        <span class="task-title">{{ task.title }}</span>
        <span class="task-description">{{ task.description }}</span>
        <span class="task-due-date">Due: {{ task.dueDate }}</span>
        <span class="task-priority">Priority: {{ task.priority }}</span>
        <span class="task-priority">Status: {{ task.status }}</span>
        <button (click)="onDelete(task.id)">Delete</button>
      </li>
    </ul>
  </ng-template>
</div>

<!-- <div *ngFor="let task of task">{{ task.title }}</div> -->
