<div class="task-list">
  <h2>Task List</h2>
  <button (click)="exportToCSV()">Export Tasks to CSV</button>
  <h3>Filter</h3>
  <button (click)="sortTasksByDueDate()">Sort by Due Date</button>
  <button (click)="sortTasksByPriority()">Sort by Priority</button>
  <button (click)="sortTasksByStatus()">Sort by Status</button>
  <div *ngIf="tasks.length === 0; else elseBlock">No Task, Add Tasks 🚀</div>
  <ng-template #elseBlock>
    <ul class="task-items" *ngFor="let task of tasks">
      <li class="task-item">
        <span class="task-title">{{ task.title }}</span>
        <span class="task-description">{{ task.description }}</span>
        <span class="task-due-date">Due: {{ task.dueDate }}</span>
        <span class="task-priority">Priority: {{ task.priority }}</span>
        <span class="task-priority">Status: {{ task.status }}</span>
        <button (click)="showStatusPopup(task, task.id)">Change Status</button>
        <button (click)="onDelete(task.id)">Delete</button>
      </li>
    </ul>
  </ng-template>
</div>

<div class="status-popup" *ngIf="showPopup">
  <h3>Select Status</h3>
  <label>
    <input
      type="radio"
      name="status"
      value="To-Do"
      [(ngModel)]="selectedStatus"
    />
    To-Do
  </label>
  <label>
    <input
      type="radio"
      name="status"
      value="In-Progress"
      [(ngModel)]="selectedStatus"
    />
    In-Progress
  </label>
  <label>
    <input
      type="radio"
      name="status"
      value="Completed"
      [(ngModel)]="selectedStatus"
    />
    Completed
  </label>
  <button (click)="updateStatus()">Save</button>
  <button (click)="closePopup()">Cancel</button>
</div>

<!-- <div *ngFor="let task of task">{{ task.title }}</div> -->
